<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <label>
      <input type="checkbox" v-model="isPurple"/> Purple
    </label>

    <select v-model="selectedColor">
      <option value="">White</option>
      <option value="text-black">Black</option>
      <option value="text-orange">Orange</option>
    </select>

    <input type="number" v-model="size"/>

    <div class="circle" :class="[selectedColor, circle_classes]" :style="[circle_size, {transform: 'rotate(30deg)'}]">
      Hi!
    </div>

    <div>
      <ul>
        <li v-for="(bird, index) in birds" :class="bird" :key="bird">
          {{ bird }} - {{index}}
        </li>
      </ul>
      <hr/>
      <ul>
        <li v-for="(person, index) in people" :class="bird">
          <p v-for="(value, key) in person">
            {{ key }} {{value}}
          </p>
        </li>
      </ul>
    </div>

    <p v-if="mode == 1">Showing v-id directive element</p> 
    <!-- //Use v-if if element toggle occasionally or rarely -->
    <template v-else-if="mode == 2">
      <h3 >v-else-if</h3>
      <p>Bonus content</p>
    </template>
    <div v-else>v-else</div>

    <i v-show="mode == 2">v-show</i> //Use v-show if element toggle constantly

    <select v-model="mode">
      <option value="1">v-if</option>
      <option value="2">v-else-if</option>
      <option value="3">v-else</option>
    </select>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>